body {
  background: #3A3A42;
  box-sizing: content-box;
}

.menu {
  position: fixed;
  height: 100vh;
  background: #F9D401;
  width: 10vw;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  transition: 1s;
}
.menu:hover {
  width: 40vw;
}
.menu:hover ~ .container {
  transform: perspective(80vw) rotateY(10deg) translateX(35vw) scaleY(1.2);
}
.menu:hover nav {
  left: 20%;
}

.container {
  width: 90%;
  margin-left: 10vw;
  background: #FDFDFD;
  transition: 1s;
  transform-origin: left center;
  color: black;
}
.container .content {
  padding: 100px 20%;
}

nav {
  position: absolute;
  margin-top: 50%;
  left: -1000px;
  transition: 0.5s;
}
nav ul {
  color: white;
  text-transform: uppercase;
  list-style-type: none;
}
nav li {
  line-height: 2em;
  letter-spacing: 0.3em;
}
nav a {
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
nav a:hover {
  color: #eee;
}

p {
  line-height: 1.5em;
}

h1 {
  color: black;
}
.table a
{
    display:block;
    text-decoration:none;
    margin: 0px auto;
    text-align: center;
}
.link {
	color:black;
	text-decoration: none;
	box-shadow: none;
	outline: none;
	border: 0;
}
a {
	color: black;
	}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #F9D401;
  color: white;
}

.round {
  border-radius: 50%;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5bf42 ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: underline;
  display: block;
  text-align: left;
}

.dropdown-content a:
hover {background-color: #f5bf42;}

.dropdown:hover .dropdown-content {
  display: block;
